body {
	font-family: Arial;
	font-weight: bold;
}
.container {
	display: inline-block;
	width: 570px;
	height: 570px;
	background-image: url(../img/bg.jpg);
}
.box {
	background-color: white;
	height: 370px;
	width: 320px;
	margin: 100px auto;
	border: solid #cfdede 1px;
}
.create {
	background-color: #01b3b3;
	color: white;
	font-size: 12px;
	padding: 5.5px 10px;
	position: absolute;
	left: 155px;
	bottom: 460px;
	border-top: solid #01b3b3 2px; 
}
.one, .two, .three {
	font-size: 12px;
	position: relative;
	top: 7px;
	right: -1px;
	font-weight: bold;
}
.two, .three {
	position: relative;
	top: 3px;
}
.three {
	top: 2px;
}
form {
	margin-left: 28px;
	margin-top: 43px;
	display: block;
	text-align: left;
}
input {
	margin-bottom: 27px;
	height: 32px;
	background-image: url(../img/bg.jpg);
	width: 262px;
	border: solid #cfdede 1px;
	position: relative;
	top: 17px;
	font-weight: normal;
	font-style: italic;
	font-size: 12px;
	border-radius: 2px;
}
.password {
	position: relative;
	top: 15px;
}
.password2 {
	position: relative;
	top: 13px;
}
.star {
	color: #01b3b3;
}
button {
	width: 262px;
	background-color: #01c4c4;
	color: white;
	padding: 13px 33px;
	border-radius: 3px;
	position: relative;
	font-style: bold;
	top: 20px;
}


	
